<app-menu></app-menu>

<br>
<div class="container contact ">
    <div class="row">
        <div class="col-md-3">
            <div class="contact-info">
                <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
                <h2>Napisz.</h2>
                <h4>Może mamy preparat którego potrzebujesz</h4>
            </div>
        </div>
        <div class="col-md-9">
            <form [formGroup]="srodkiForm" id="formularz">
                <div class="contact-form">
                    <div class="form-group">
                        <label class="control-label-fname col-sm-10" for="fname">Imię: <small><span
                                    class="error text-danger" id="imie_error_message"></span></small> </label>
                        <div class="col-sm-10">
                            <input FormControlName="imie" type="text" minlength="3" class="form-control" id="fname"
                                name="fname" required>
                            <p *ngIf="!srodkiForm.get('imie').valid&&srodkiForm.get('imie').dirty" class="error">Pole
                                jest wymagane</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="sec_name">Drugie imię:</label>
                            <div class="col-sm-10">
                                <input FormControlName="drugieImie" type="text" class="form-control" id="sec_name"
                                    name="sec_name">
                                  
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label-sur_name col-sm-10" for="sur_name">Nazwisko:<small><span
                                        class="error text-danger" id="nazwisko_error_message"></span></small></label>

                            <div class="col-sm-10">
                                <input FormControlName="nazwisko" type="text" class="form-control" id="sur_name"
                                    name="sur_name" required>
                                    <p *ngIf="!srodkiForm.get('nazwisko') && srodkiForm.get('nazwisko').dirty" class="error">
                                        Nazwisko jest wymagane
                                    </p>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" for="tel">Telefon:</label>
                                <div class="col-sm-10">
                                    <input FormControlName="telefon" type="tel" class="form-control" id="tel"
                                        placeholder="XXX XXX XXX" name="tel" pattern="[0-9]{3} [0-9]{3} [0-9]{3}"
                                        required>
                                </div>
                                <small class="text-muted">np. 022 123 222 </small>
                                <fieldset class="container-fluid ">
                                    <div class="form-group">
                                        <div class="row pt-3">
                                            <label class="control-label col-md-6" for="forma">Preferowana forma
                                                kontaktu</label>

                                            <div class="control-label col-md-5 ml-auto ">
                                                <select FormControlName="formaKontaktu" id="forma" name="forma">                                        required>
                                                    <option value="m">email</option>
                                                    <option value="t">telefon</option>
                                                </select>
                                                <p *ngIf="srodkiForm.get(dataDostawyOd)>srodkiForm.get(dataDostawyDo) " class="error">
                                                    Nieprawidłowe daty
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="container-fluid">
                                    <div class="form-group">
                                        <small>
                                            <span class="error text-danger" id="data1_error_message"></span><br></small>
                                        <div class="row daty">
                                            <label class="control-label_daty col-sm-2" for="date">Data
                                                dostawy</label>
                                            <div class="col-sm-4 ">
                                                <label class="control-label_daty col-sm-2" for="date1">Od </label>
                                                <input FormControlName="dataDostawyOd" type="date" class="form-control"
                                                    id="date1" name="day1" required>

                                            </div>
                                            <div class="col-sm-4 ">
                                                <label class="control-label_daty col-sm-2" for="date2"> Do <small>
                                                        <span class="error text-danger"
                                                            id="data2_error_message"></span></small></label>
                                                <input FormControlName="dataDostawyDo" type="date" class="form-control"
                                                    id="date2" name="day2" required>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-info">Wyślij</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <pre>{{srodkiForm.value | json}}</pre>
        </div>
    </div>
</div> <!-- Wprowadzenie -->


<!-- Realizacje -->


<!-- Kontakt -->

<!-- Stopka -->
<app-footer></app-footer>