<div foot>
    <footer class="bg-success text-white ">
        <div class="container">
            <div class="row mb-3 p-3">
                <div class="container col-md-6 footer-first-col ">
                    <p>KONTAKT</p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-clock-o text-warning " aria-hidden="true"></i>Pn.-Pt. 8:00-16:00
                        </li>

                        <li>
                            <i class="fa fa-phone text-warning " aria-hidden="true"></i>(22)123-456-789
                        </li>
                        <li>
                            <i class="fa fa-envelope text-warning " aria-hidden="true"></i><a class="text-white"
                                href="mailto: srodki@jakasDomena.pl">srodki@jakasDomena.pl</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-double-right text-warning" aria-hidden="true"></i>
                            <a class="text-white" href="kontakt.html" text-white>Formularz kontaktowy</a>

                        </li>
                    </ul>

                    <p>NASZA FIRMA</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-double-right text-warning" aria-hidden="true"></i> <a
                                class="text-white" href="o_nas.html">O nas</a>
                        </li>
                        <li><i class="fa fa-angle-double-right text-warning" aria-hidden="true"></i> <a
                                class="text-white" href="#">Polityka prywatności</a>
                        </li>
                        <li><i class="fa fa-angle-double-right text-warning" aria-hidden="true"></i> <a
                                class="text-white" href="#">Regulamin</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 footer-second-col">
                    <form action="#">
                        <div>
                            <label for="name"> Imię </label>
                            <input type="text" id="name" placeholder="Twoje imię" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" id="email" placeholder="Twój email" class="form-control">
                        </div>
                        <div class="form-check">

                            <label class="form-check-label text-sm">
                                <input type="checkbox" value="ok" class="form-check-input">
                                <small><em>Wyrażam zgodę na przetwarzanie danych osobowych przez
                                        Srodki Ochrony S.A.
                                        w celu przesyłania treści marketingowych na mój adres e-mail podany powyżej
                                        w
                                        formularzu
                                        kontaktowym</em></small></label>
                        </div>
                        <button button type="submit" class="btn btn-primary">SUBSKRYBUJ</button>
                    </form>
                </div>
            </div>
        </div>


        <!-- Prawa autorskie -->
        <section class="copyright p-3 text-center">
            <div class="container-fluid"><small><em>
                        &copy; Copyright 2019-2020 Sławomir Kobyliński wszelkie prawa zastrzeżone</em></small>
            </div>
        </section>
    </footer>
</div>