<div menu>
    <nav class="navbar navbar-light bg-success navbar-expand-md container-fluid">
        <a href="index.html" class="navbar-brand"><img src="../../../assets/pictures/logo.png"
                alt="Środki dla rolnictwa"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <div class="collapse navbar-collapse" id="navContent">

                <ul class="navbar-nav text-lg ml-auto font-weight-bold" routerLinkActive="active">
                    <li class="nav-item"><a class="nav-link text-warning " routerLink="/preparaty">
                            <h5>Produkty</h5>
                        </a></li>
                    <li class="nav-item"><a class="nav-link text-warning" routerLink="/kontakt">
                            <h5>Kontakt</h5>
                        </a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>